section.LIST{background-color: #CCFFFF ; visibility: hidden;}
section.ADD{background-color: #CCFFFF ; visibility: hidden;}
section.CHANGE{background-color: #CCFFFF ; visibility: hidden;}
section.DELETE{background-color: #CCFFFF ; visibility: hidden;}
section.ABOUT{background-color: #CCFFFF ; visibility: hidden;}
